:root {
  --text-size: clamp(1.2rem, 4vw, 1.6rem);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, *::before, *::after { margin:0; padding:0; box-sizing: inherit;}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(../public/images/bg_720.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: clamp(3.8rem, 4vw, 3.2rem);
  text-align: center;
  margin-bottom: 3%;
  -webkit-text-fill-color: rgba(255, 255, 255, .01);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(187, 19, 19, .74);
}

li {
  font-size: var(--text-size);
  cursor: pointer;
}

li:hover {
  background-color: lightgray;
}

li.ant-list-item.done {
  text-decoration: line-through;
  background-color: lightgray;
  
}

main {
  width: 89%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3%;
  background-color: rgb(235, 234, 234, .788);
  padding: 15px;
  border-radius: 13px;
  padding: 15px;
  border-radius: 23px;
  border: 5px solid rgba(194, 226, 224, .589);
  filter: drop-shadow(0px 0px 30px white);
}


button.ant-btn {
  background-color: darkgrey;
  color: black;
}

.btn-remove {
  background-color: darkgrey;
  float: right;

}



span.ant-input-affix-wrapper, input.ant-input {
  background-color: pink;
  font-size: var(--text-size);
  width: 100%;

}
